@model SalidaAlmacen
@{
    Layout = null;
}
<link href="~/css/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/css/StyleContenido.css" rel="stylesheet" />
<div>
    <p>&nbsp;</p>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <hr />
                <h2 class="text-danger">
                    Administración de Salidas de Almacen
                </h2>
            </div>
            <div class="card-body card-block">
                <div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="address">Folio Salida</label>
                            @Html.TextBoxFor(model => model.Folio)
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="address">Lugar Origen</label>
                            <input id="origen" name="origen" readonly class="form-control" ng-model="SalidaAlmacenSel.almacen" type="text" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="address">Lugar Destino</label>
                            <input id="destino" name="destino" readonly class="form-control" ng-model="SalidaAlmacenSel.farmacia" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <label for="address">Responsable Destino</label>
                            <input id="responsable" name="responsable" readonly class="form-control" ng-model="SalidaAlmacenSel.responsable" type="text" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="address">Fecha Salida</label>
                            <input id="fechasalida" name="fechasalida" readonly class="form-control" ng-model="SalidaAlmacenSel.fechaCaptura" type="text" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="address">Fecha Entrega</label>
                            <input id="fechaentrega" name="fechaentrega" readonly class="form-control" ng-model="SalidaAlmacenSel.fechaSalida" type="text" />
                        </div>
                    </div>
                    <hr class="mb-4">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered ListaRegistroTable">
                        <caption>
                            A R T I C U L O S &nbsp;&nbsp; D E &nbsp;&nbsp; L A &nbsp;&nbsp; S A L I D A
                            <a href="">
                                <img ng-click="mostrarAddArticuloSalida()" title="Agregar Salida" src="~/Content/icons/AgregarRegistro.png" />
                            </a>
                        </caption>
                        <thead>
                            <tr>
                                <th class="ListaTh">#</th>
                                <th>Clave Producto</th>
                                <th class="ListaTh">Producto</th>
                                <th>Tipo Catalogo</th>
                                <th>Cantidad</th>
                                <th class="ListaTh">Unidad</th>
                                <th>Fec. Caducidad</th>
                                <th>Accíones</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="B in DetalleSalidaVM | orderBy:'descripcion'">
                            <tr>
                                <td class="ListaTd">{{$index+1}}.-</td>
                                <td>{{B.claveProducto}}</td>
                                <td class="ListaTd">{{B.descripcion}}</td>
                                <td>{{B.tipoCatalogo}}</td>
                                <td>{{B.cantidad}}</td>
                                <td class="ListaTd">{{B.unidad}}</td>
                                <td>{{B.fechaCaducidad}}</td>
                                <td><img ng-click="eliminarDetalleSalida(B)" src="~/content/icons/eliminar.png" alt="user" class="rounded" width="25"></td>
                                <td><img ng-click="crearReporte(B)" src="~/content/icons/Validado.png" alt="user" class="rounded" width="25"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>