.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.91);
  z-index: 1001;
}
.ventanaModal {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
}
.ventanaModalBox_ {
  height: 80px;
  width: 480px !important;
  position: relative;
  text-align: center;
}
.ventanaModalBox_ img {
  height: 85px;
  width: 85px;
}
.invalid-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding-bottom: -0.9em;
}
.divAnimationAngular {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.divAnimationAngular.ng-hide {
  opacity: 0;
}