@{
    Layout = null;
}
<link href="~/css/StyleLoading.css" rel="stylesheet" />
<div class="overlay divAnimationAngular" ng-show="Loading_">
    <div class="ventanaModal">
        <div class="ventanaModalBox_">
            <span style="font-size:1.8em; color:rgba(177, 177, 177, 0.89); left:32%; z-index: 1; top:100%; position:absolute;align-items:center;text-align:center;">
                {{Mensaje_modal}}
            </span>
            <img src="~/content/Imgs/ng-loading02.gif" />
        </div>
    </div>
</div>
