@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/angularjs/viewmodels/alumnocontroller.js"></script>
<script src="~/angularJs/services/alumnoModel.js"></script>
<div ng-controller="homeController" ng-cloak>
    <p>&nbsp;</p>
    <div class="content mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body bg-flat-color-1">
                        <div class="stat-widget-one" ng-click="irDatosAspirante();">
                            <div class="stat-icon dib"><i class="ti-registro text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Catalogos</div>
                                <div class="stat-text"></div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body  bg-flat-color-3">
                        <div class="stat-widget-one" ng-click="irRecibopago();">
                            <div class="stat-icon dib"><i class="ti-fichapago text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Almacen</div>
                                <div class="stat-text">{{NumServicios}}</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div id="CardFicha" class="card" ng-class="{fichaAprobada: fichaActiva}">
                    <div class="card-body bg-flat-color-6">
                        <div class="stat-widget-one" ng-click="irFichaExamen();">
                            <div class="stat-icon dib"><i class="ti-fichaexamen text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Farmacias</div>
                                <div class="stat-text">{{estadoPago}}</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body bg-flat-color-4">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-iconavisos text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Empleados</div>
                                <div class="stat-text">1 nuevo!</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" ng-show="verEgresados">
                <div class="card">
                    <div class="card-body  bg-flat-color-5">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-iconaspirante text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Reportes</div>
                                <div class="stat-text">Pendiente{{valor}}</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 50%; height: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-include="Modal"></div>
</div>