@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/angularjs/viewmodels/homecontroller.js"></script>
<script src="~/angularJs/services/homeModel.js"></script>
<div ng-controller="homeController" ng-init="CargarDatos()" ng-cloak>
    <p>&nbsp;</p>
    <div class="content mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body bg-flat-color-1">
                        <div class="stat-widget-one" ng-click="validarFuncion('Catalogos');">
                            <div class="stat-icon dib"><i class="ti-registro text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Catalogos</div>
                                <div class="stat-text"></div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body  bg-flat-color-3" ng-click="validarFuncion('Almacen');">
                        <div class="stat-widget-one" >
                            <div class="stat-icon dib"><i class="ti-fichapago text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Almacen</div>
                                <div class="stat-text">{{NumServicios}}</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div id="CardFicha" class="card">
                    @*ng-class="{fichaAprobada: fichaActiva}"*@
                    <div class="card-body bg-flat-color-6" ng-click="validarFuncion('Farmacia');">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-fichaexamen text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Farmacia</div>
                                <div class="stat-text">{{estadoPago}}</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body bg-flat-color-4" ng-click="validarFuncion('Unidosis');">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-iconavisos text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">UniDosis</div>                                
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" ng-show="permisoAdministrador">
                <div class="card">
                    <div class="card-body  bg-flat-color-5" ng-click="validarFuncion('Seguridad');">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-iconaspirante text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-digit">Seguridad</div>
                                <div class="stat-text">Pendiente{{valor}}</div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 50%; height: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-include="Modal"></div>
</div>